<html>
<head>

  <%- include('head') %>

  <title> Login | Sing-in </title>
</head>

<body>

<%- include('nav') %>

<main class="container text-center mt-5 ml-5 mr-5">

      <h1 class="textHeader">Home Page</h1>

      <div class="text">
        <h1><span> Go to </span><a class="btn-link" href="/user"> Dashboard </a>  
      </div>
  

</main>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js" integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>