<nav>
	<div class='logo' >
		<a href="/" >Logo </a>
	</div>
	<div class='navLinks' >
		<ul>
		  <li> <a href="/" class='link' >Home</a> </li>
		  <li> <a href="/posts" class='link' >Posts</a> </li>
		  <li> <a href="/sign-up" class='link' >Sign up</a> </li>
		  <li> <a href="/login" class='link' >Login</a> </li>

		</ul>
	</div>
</nav>
