<nav>
	<div class='logo' >
		<a href="/" >Logo </a>
	</div>
	<div class='navLinks' >
		<ul>
		  <li> <a href="/" class='link' >Home</a> </li>
		  <li><a href="/logout" class='link'><i class="fas fa-sign-out-alt"></i></a></li>
		</ul>
	</div>
</nav>