<html>
<head>
  <%- include('head') %>

  <title> Sing-in </title>
</head>

<body>



<main class="main d-flex justify-content-center align-items-center">

  <div class="side-login ">
    <h1>LOGO</h1>
    <br>
    <h4>This is a simple text.</h4>
  </div>

  <form class="form" action="/sing-up" method="POST" >
<div class="formTitle">
  <h1 class="signUser">
    Sign Up <i class="fas fa-user-plus"></i>
  </h1>

</div>
    
<!--

    <div class="mb-3">
      <label for="username"  class="form-label">Username*</label>
      <input required type="text" name="username"  class="form-control" id="username">
    </div>

-->

    <div class="mb-3">
      <label for="email"class="form-label">Email<span>*</span></label>
      <input required type="email" name="email"  class="form-control" id="email">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password<span>*</span></label>
      <input required type="password" name="password" class=" password form-control" id="password">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">confirm Password<span>*</span></label>
      <input required type="password" name="confirmPassword" class="confirmPassword form-control" id="confirmPassword">
    </div>
 
    <div class=" errmsg text-center">

    </div>

    <div class="d-flex justify-content-center align-items-center mt-4">
      <button type="submit" class="btn-grad px-3">
        Submit
      </button>
      <div class="backHome">
        <span>Or </span> 
        <a href="/"> Back.</a>
      </div>
    </div>



  </form>

</main>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js" integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    const btn = document.querySelector(".submit")
    const errmsg = document.querySelector(".errmsg")
    const form = document.querySelector(".form")

    btn.addEventListener("click", (e) => {
        // e.preventDefault()

          console.log(form.password.value+" , "+ form.confirmPassword.value)

        if(form.password.value !== form.confirmPassword.value ) {
          errmsg.innnerHTML = `
            <div class=" alert alert-danger text-center mb-3">
              <p>password or email incorrect</p>
            </div>
          `
        }    
    })
  </script>
</body>

</html>