<html>
<head>

  <%- include('head') -%>

  <title> dashboard </title>
</head>

<body>

	<% if(user !== null ) { %>
  		<%- include('navLogout') -%>
  	<% } else { %>
		<%- include('nav') -%>
  	<% } %>

<main class="container text-center mt-5 ml-5 mr-5">

	<h1>Welcom User  <br /> <i class="far fa-user-circle"></i> <%= user.email %> </h1>
	<h1 class="smiler  mt-5">
		<i class="far fa-smile-wink"></i>
	</h1>
</main>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js" integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>